{% extends 'layout/base.html' %}

{% block title %}

{% endblock %}

{% block content %}
<div class="containersidebarcontent">
        <div class="verticalsidebar">
            <ul>
              {% if current_user.LoaiTaiKhoan == VaiTro.STAFF %}
                <li><a href="{{ url_for('danhsach_lop') }}">TIẾP NHẬN HỌC SINH</a></li>
                <li><a href="{{ url_for('hienthi_danhsach_lop_hocsinh') }}">LẬP DANH SÁCH LỚP</a></li>
              {% elif current_user.LoaiTaiKhoan == VaiTro.TEACHER %}
                <li><a href="{{url_for('nhapdiem')}}">Nhập điểm cho học sinh</a></li>
                <li><a href="{{url_for('xuatdiemtb')}}">Xuất điểm trung bình</a></li>
               {% endif %}
            </ul>
        </div>
    {% block func %}

    {% endblock %}
    </div>
{% endblock %}
