{% extends 'admin/base.html' %}

{% block body %}

{% if current_user.is_authenticated and current_user.LoaiTaiKhoan == VaiTro.ADMIN %}
<h1>Chao Mung {{current_user.TenDangNhap}} toi trang Adminstrator</h1>
{% else %}

<div class="container">
        <div class="header">
            <h1>Đăng nhập vào hệ thống</h1>
        </div>
        <div class="login-container">
            <form method="post"  action="{{url_for('login_admin')}}">
                <div class="form-group">
                    <label for="username">Tên Đăng Nhập</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="password">Mật khẩu</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit" class="login-button">Đăng Nhập</button>
            </form>
        </div>
    </div>

{% endif %}

{% endblock %}